.topfold {
  height: 92vh;
  overflow: hidden;
}

.tf-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 20px;
}
.tf-heading {
  font-size: 72px;
  font-weight: 600;
  line-height: 72px;
}

.tf-description {
  font-size: 20px;
  margin: 24px 0px;
}

.tf-left-btns {
  margin-top: 36px;
  display: flex;
}

.tf-left-secondary-btn {
  margin-left: 36px;
}

.tf-left-infoStats {
  display: flex;
  padding: 48px 0px 0px;
}

.tf-is-infoItem {
  margin-right: 24px;
  flex-direction: column;
}

.tf-infoItem-count {
  font-size: 36px;
  font-weight: 600;
}

.tf-infoItem-label {
  font-size: 14px;
  font-weight: 600;
}

.tf-right {
  display: flex;
  flex: 1;
  position: relative;
}

.tf-right-diamond {
  display: flex;
  flex-wrap: wrap;
  transform: rotate(45deg);
}

.tf-right-diamond-item {
  height: 280px;
  width: 280px;
  overflow: hidden;
  margin: 6px;
  transform: rotate(-45deg);
  cursor: pointer;
  border: 3px solid var(--white);
  border-radius: 12px;
}

.tf-right-diamond-item img {
  height: 400px;
  object-fit: contain;
  display: block;
}

.tf-right-bg-blob {
  height: 550px;
  width: 550px;
  background-color: var(--bg-blob);
  filter: blur(160.58px);
  position: absolute;
  z-index: -99;
  left: 20%;
  top: 10%;
  transform: translate(-50%);
}

@media (max-width: 1280px) {
  .topfold {
    height: fit-content;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .tf-left {
    width: 80%;
  }

  .tf-right {
    margin-top: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .tf-right-diamond {
    transform: rotate(0deg);
    align-items: center;
    justify-content: center;
  }

  .tf-right-bg-blob {
    display: none;
  }

  .tf-right-diamond-item:nth-child(1),
  .tf-right-diamond-item:nth-child(4) {
    display: block;
  }
}

@media (max-width: 1536px) {
  .tf-right-diamond {
    transform: rotate(0deg);
  }

  .tf-right-diamond-item {
    transform: rotate(0deg);
  }

  .tf-right-diamond-item {
    height: 250px;
    width: 250px;
  }

  .tf-right-diamond-item img {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .tf-left {
    width: fit-content;
  }
  .tf-right {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .tf-right-diamond-item:nth-child(1),
  .tf-right-diamond-item:nth-child(4) {
    display: block;
  }

  .tf-heading {
    font-size: 3.75rem;
  }
}

@media (max-width: 640px) {
  .tf-left {
    padding-right: 0px;
    width: 100%;
  }
  .tf-heading {
    font-size: 2rem;
    line-height: 3rem;
  }

  .tf-left-btns {
    margin-top: 1.5rem;
  }

  .tf-left-infoStats{
    justify-content: space-between;
    width: 100%;
  }

  .tf-infoItem-count {
    font-size: 30px;
  }

  .tf-is-infoItem {
    margin-right: 0px;
    flex-direction: column;
}
}
